  	  /****************************
  	  * Christopher Sanchez; 2017
  	  * The css styles for fonts
  	  ****************************/



.FrederickaTheGreatFont {
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  color: white;

}

.AmaticSC {
 font-family: 'Amatic SC', cursive;
 font-size: 25px;
 /* text-align: center; */
 vertical-align: middle;
 color: black;

}