
/* Syntax for css */
/* selector { property:value; property: value;} */



li {
	display: inline
}

/* This formats the horizontal navigation bar */

li a {
	display: inline-block;
	color:white;
	padding: 14px 16px;
	text-decoration: none;
}


/* makes the icons gray when you hover the curser */
li a:hover {
	background-color: #A9A9A9;
}

/* the strategy here is to have a default "unordered list" class with
* common attributes, then anything else you want to add, make a class
* that inherits from the default ul
*/

/* for social media buttons */
a.fa {
	display: inline-block;
}